.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  display: flex;
}

.code {
  width: 80%;
}
.img {
  width: 800px;
  height: 500px;
  margin-top: 40px;
}

.livetext {
  padding-right: 1rem;
}

.clickable {
  cursor: pointer;
}
.description {
  text-align: start;
  padding-right: 1rem;
}

.iconslist {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  align-items: center;
  width: 98%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--ifm-color-primary);
  color: white;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
  }
  .code {
    width: 70%;
  }
  .live {
    display: flex;
    flex-wrap: wrap;
  }
  .img {
    padding-bottom: 10px;
    width: 100%;
  }
  .livetext {
    width: 100%;
  }
  .iconslist {
    flex-wrap: wrap;
    width: 100%;
  }
}
