.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
display:flex;
justify-content: space-between;
}

.code {
width: 80%;

}
.img {
  width: 900px;
  height: 500px;
  padding-right: 2rem;
}

.livetext {
  padding-right: 1rem;
}

.clickable {
cursor:pointer;
}

@media only screen and (max-width: 1000px) {
  .feature {
    flex-wrap: wrap;
  }
  .code{
    width:90% ;
  }
  .live {
    display:flex;
    flex-wrap: wrap;
  }
  .img {
    padding-bottom: 10px;
  }
  .livetext {
    width: 100%;
  }

}


