@tailwind utilities;

.docs-search > span {
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}
